img{
    height: 200px;
    width: 200px;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.body{
    display: flex;
    flex-direction: column;

}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.logo{
   font-size: 24px;
   color: #f9faf8;
}
.intro{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 15px;
}
.signup{ 
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 350px;
}
button{
    background-color: #3882f6;
    color: white;
    max-width: 100px;
    border-radius: 6px;
   border-style: none;
}
.image{
    display: flex;
}
.heroMain{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.heroSec{
    font-size: 18px;
    color: #e5e7eb;
}
.rdinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    gap: 15px;
}
.rdmImages{
    display: flex;
    justify-content: space-around ;
    gap: 30px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    gap: 5px;

  }
  .smallerImage{
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 12px; 
  }
  .information{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
  }
.quotebox{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb ;
    align-items: center;
    justify-content: center;
    height: 300px;
    max-width: 700px;
}
.quote{
    width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.quoteatr{
    align-self: flex-end;
}
.container{
    display: flex;
    background-color: #e5e7eb ;
    justify-content: center;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}
.productContainer{
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 800px;
    border-radius: 12px;
}
.sbutton{
    border: white;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    height: 25px;
    width: 100px;
}
.calltoa{
    color: white;
    font-size: 20px;
}
.calltext{
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 100px;
}